table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  color: var(--text-main);
}

th, td {
  padding: 10px 16px;
}

th {
  font-weight: 500;
  color: var(--secondary-text);
  font-size: 14px;
}

tr {
  transition: background-color 0.2s;
}

.holdings-table {
  background-color: var(--card-dark-bg);
  border-radius: 8px;
  overflow: hidden;
}

h2 {
  color: var(--text-main);
}
